<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
<meta content="Sideguide - Rediscover your world" property="og:title">
<meta content="Sideguide helps people, organizations, and destinations tell the world's story. Discover and rediscover your world!" property="og:description">
<meta content="" property="og:image">
<meta content="http://www.mysideguide.com/" property="og:url">
<meta content="website" property="og:type">
<meta content="Sideguide" property="og:site_name">
<meta content="" property="fb:app_id">
<meta content="summary" name="twitter:card">
<meta content="@Sideguide" name="twitter:site">
<meta content="http://www.mysideguide.com/" name="twitter:url">
<meta content="Sideguide - Rediscover your world" name="twitter:title">
<meta content="Sideguide helps people, organizations, and destinations tell the world's story. Discover and rediscover your world!" property="twitter:description">
<meta content="" name="twitter:image">
<meta content="" name="google-site-verification">
<meta content="" name="google-site-verification">
<meta content="" name="norton-safeweb-site-verification">
<meta content="" name="msapplication-TileImage">
<meta content="#ffffff" name="msapplication-TileColor">
    <title>Sideguide</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/splash.css" rel="stylesheet" media="screen">
      <link href="/static/css/stickyfooter-bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
      <script src="/static/js/jquery-1.8.3.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/jquery.masonry.min.js"></script>
        <script type="text/javascript">
            $(function() {
                /*var $container = $('#people');

                $container.imagesLoaded( function(){
                    $container.masonry({
                        itemSelector : '.item'
                    });
                });*/


                $(".item").hover(function() {
                       href = $(this).find("a").attr("href");
                       $details = $(href+".details");
                       $details.addClass("active");
                },
                function() {
                       $(".details").removeClass("active");
                });
            });
        </script>
  </head>
  <body>
  <div class="container-fluid marketing">
    <div class="navbar navbar-static">
        <div class="splash-nav">
          <a class="brand" href="#"></a>
          <ul class="nav pull-right">
              <li><a href="#explorers">Explorers</a></li>
              <li><a href="#curators">Curators</a></li>
              <li><a href="#fund">Fund us</a></li>
          </ul>
        </div>
      </div>
      <div id="splashfront">
            <div class="header">
                <h1 class="header-logo">Sideguide</h1>
                <p class="lead">Tour guide platform for museums, parks, landmarks, cities... </p>
            </div>
          <div class="container">
              <div class="videobox">
                  <a href="http://fast.wistia.net/embed/iframe/v96o7s1d4b?autoPlay=true&controlsVisibleOnLoad=true&popover=true&version=v1&videoHeight=540&videoWidth=960&volumeControl=true" class="wistia-popover[height=540,width=960]"><img src="http://embed-0.wistia.com/deliveries/d806356afb0b55712c173f7b75f703fc08d2227b.jpg?image_play_button=true&image_crop_resized=480x270" alt="" /></a>
                  <script charset="ISO-8859-1" src="http://fast.wistia.com/static/popover-v1.js"></script>
              </div>
               <div class="signupbox">
                   <form>
                       <fieldset>
                           <input type="text" class="span5" placeholder="Name"><br>
                           <input type="text" class="span5" placeholder="Email"><br>
                           <input type="text" class="span5" placeholder="Institution"><br>
                           <button type="submit" class="btn-large btn btn-success">Jump on the bandwagon!</button>
                           <p class="helptext">We hate spam as much as you do.
                               <br>You will be notified when Sideguide is ready to go.</p>
                       </fieldset>
                   </form>
              </div>
          </div>
      </div>
          <div class="container" >
                <div class="splashbar">
                    <div class="downarrow"></div>
                </div>
                <hr class="featurette-divider">
                <div id="explorers" class="featurette">
                    <h2 class="featurette-heading">
                        Explorers
                        <span class="muted">Rediscover your world</span>
                    </h2>
                    <div class="featurette-text">
                        <div class="column pull-left">
                            <h4>Experience</h4>
                            <p>Experience tours of points of interest and exhibits around you, personalized to
                                your taste.</p>

                            <h4>Learn</h4>
                            <p>Find new destinations, read and listen to information about exhibits,
                                and earn redeemable points</p>
                        </div>
                        <div class="column pull-right">
                            <h4>Collect</h4>
                            <p>Remember your experience, share it with
                                your friends, and give feedback by creating favorite lists.</p>

                            <h4>Lead</h4>
                            <p>Create guided tours with your voice and camera to lead
                                other explorers through your favorite places.</p>
                        </div>
                    </div>
                </div>
                <hr class="featurette-divider">
                  <div id="curators" class="featurette">
                      <h2 class="featurette-heading">
                          Curators
                          <span class="muted">Propel into the information age</span>
                      </h2>

                      <div class="featurette-text">
                          <div class="column pull-left">
                              <h4>Guide</h4>
                              <p>Give your visitors self-directed guidance without high equipment
                                    and development costs. </p>

                              <h4>Streamline</h4>
                              <p>Reduce crowding around placards by providing descriptions
                                  and media straight to mobile devices.</p>
                            </div>
                          <div class="column pull-right">
                          <h4>Reward</h4>
                              <p>Create tailored achievements that give points to encourage return visits and reward special tasks.</p>

                              <h4>Respond</h4>
                              <p>Get real-time feedback about your visitors, the best exhibits, and walking patterns to curate better.</p>
                          </div>
                     </div>
               </div>
                <hr class="featurette-divider">
            <div id="fund" class="featurette">
                <h2 class="featurette-heading">
                    Fund us
                    <span class="muted">Ready for more</span>
                </h2>


                <div class="hover-wrapper">
                    <div id="people" class="hover-triggers">
                        <div class="item">
                            <a href="#karissa"><img src="/static/img/people/karissa.jpg" /></a>
                        </div>

                        <div class="item">
                            <a href="#serge"><img src="/static/img/people/serge.png" /></a>
                        </div>

                        <div class="item">
                            <a href="#mengyao"><img src="/static/img/people/mengyao.jpg" /></a>
                        </div>

                        <div class="item">
                            <a href="#anhe"><img src="/static/img/people/Anhe.JPG" /></a>
                        </div>

                        <div class="item">
                            <a href="#ashleigh"><img src="/static/img/people/person.gif" /></a>
                        </div>

                    </div>
                </div>

                <div class="hover-content span4">
                    <div id="karissa" class="details">
                        <h4>Karissa McKelvey <br><small>Chief Executive Officer</small></h4>
                        <p> Karissa is a graduate student in Informatics. She is a web developer, computational social scientist, big data visualizations expert, and
                            experienced team player. She enjoys bringing new ideas to life with teams in whiteboard-lined rooms.</p>
                    </div>
                    <div id="serge" class="details">
                        <h4>Serge Chernetsky <br><small>Principal Software Developer</small></h4>
                        <p> Serge has a passion for mobile development, algorithms, and software design.
                            His wide array of skills acquired over various jobs and
                            internships translates into technical know-how required to bring projects to fruition. </p>
                    </div>
                    <div id="mengyao" class="details">
                        <h4>Mengyao Zhao <br><small>User Experience Designer</small></h4>
                        <p>Mengyao is a graduate student in Human-computer Interaction Design.
                            She is a Chinese Zeither player, a photographer, a flower lover, a UX designer and a design researcher.
                            She is interested in Aesthetic Experience, Heritage Study and Design Methods in HCI and she gains design
                            inspirations from music, arts and life.</p>
                    </div>
                    <div id="anhe" class="details">
                        <h4>Anhe Guo <br><small>User Experience Designer</small></h4>
                        <p>Anhe Guo is a graduate student in Human Computer Interaction and
                            Design. Her inspiration comes from the positive influence that good
                            design and technology bring to the world, whether on a personal,
                            social or political level. She focuses this passion on designing and
                            imagining a better world. </p>
                    </div>
                    <div id="ashleigh" class="details">
                        <h4>Ashleigh Nero <br><small>Animation and Graphic Design</small></h4>
                        <p>this is a story about ashleigh</p>
                    </div>

                </div>
                </div>
           </div>
    </div>
      <!-- {% include "browse/footer.html" %} -->

  </body>
</html>
