<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
<meta content="Sideguide - Rediscover your world" property="og:title">
<meta content="Sideguide helps people, organizations, and destinations tell the world's story. Discover and rediscover your world!" property="og:description">
<meta content="" property="og:image">
<meta content="http://www.mysideguide.com/" property="og:url">
<meta content="website" property="og:type">
<meta content="Sideguide" property="og:site_name">
<meta content="" property="fb:app_id">
<meta content="summary" name="twitter:card">
<meta content="@Sideguide" name="twitter:site">
<meta content="http://getsideguide.com/" name="twitter:url">
<meta content="Sideguide - Rediscover your world" name="twitter:title">
<meta content="Sideguide helps people, organizations, and destinations tell the world's story. Discover and rediscover your world!" property="twitter:description">
<meta content="" name="twitter:image">
<meta content="" name="google-site-verification">
<meta content="" name="google-site-verification">
<meta content="" name="norton-safeweb-site-verification">
<meta content="" name="msapplication-TileImage">
<meta content="#ffffff" name="msapplication-TileColor">
    <title>Sideguide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/packages/flat/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/sideguide.css" rel="stylesheet">
    <link href="/static/css/splash.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.masonry.min.js"></script>
      <script src="/static/js/jquery.scrollto.js"></script>
    <script type="text/javascript">
            $(function() {
                var $container = $('#people');

                $container.imagesLoaded( function(){
                    $container.masonry({
                        itemSelector : '.item'
                    });
                });

                $(".scroll").each(function(){
                    $(this).click(function() {
                        $($(this).attr("href")).ScrollTo({
                            offset: 300
                        });
                    });
                });

                $(".item").hover(function() {
                       $("#background").removeClass("active");
                       href = $(this).find("a").attr("data-item");
                       $details = $(href+".details");
                       $details.addClass("active");
                },
                function() {
                       $(".details").removeClass("active");
                       $("#background").addClass("active");
                });
            });
        </script>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-39488878-1', 'sideguide.co');
          ga('send', 'pageview');

      </script>
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="300">
  <div id="wrap">
  <div id="main" class="container marketing clearfix">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <a class="brand" href="#"></a>
          <ul class="nav pull-right">
              <li><a href="#splashfront" class="scroll">About</a></li>
              <li><a href="#explorers" class="scroll">Explorers</a></li>
              <li><a href="#curators" class="scroll">Curators</a></li>
              <li><a href="#fund" class="scroll">Fund us</a></li>
          </ul>
        </div>
      </div>
      <div id="splashfront">
            <div class="header">
                <h1 class="header-logo"><img src="/static/img/sideguidelogo.png" width="900px"/> </h1>
                <p class="lead">Mobile tour guide for museums, parks, landmarks, cities, malls... </p>
            </div>
  </div>
            <div class="splashbar">
                <div href="#explorers" class="downarrow"></div>
            </div>
            <div id="explorers" class="featurette">
                <hr class="featurette-divider">
                <h2 class="featurette-heading">
                    Explorers,
                    <span class="muted">rediscover your world</span>
                </h2>
                <div class="featurette-text">
                    <div class="row demo-tiles">
                        <div class="span3">
                            <div class="tile">
                                <img class="tile-image big-illustration" alt="" src="/static/packages/flat/images/illustrations/map.png">
                                <h3 class="tile-title">Experience</h3>
                                <p>Know where to go, and what's there.</p>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="tile">
                                <img class="tile-image" alt="" src="/static/packages/flat/images/illustrations/colors.png">
                                <h3 class="tile-title">Personalize</h3>
                                <p>Use keyword search and our suggestions.</p>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="tile">
                                <img class="tile-image" alt="" src="/static/packages/flat/images/illustrations/time.png">
                                <h3 class="tile-title">Limit</h3>
                                <p>Finish within a certain amount of time.</p>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="tile">
                                <img class="tile-image big-illustration" alt="" src="/static/packages/flat/images/illustrations/book.png">
                                <h3 class="tile-title">Record</h3>
                                <p>Rate, save, and share the places you visit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <div id="curators" class="featurette">
                  <hr class="featurette-divider">
                  <h2 class="featurette-heading">
                      Curators,
                      <span class="muted">propel into the information age</span>
                  </h2>

                  <div class="featurette-text">
                      <div class="row demo-tiles">
                          <div class="span3">
                              <div class="tile">
                                  <img class="tile-image big-illustration" alt="" src="/static/packages/flat/images/illustrations/compass.png">
                                  <h3 class="tile-title">Guide</h3>
                                  <p>Create image, text, and audio guides.</p>
                              </div>
                          </div>

                          <div class="span3">
                              <div class="tile">
                                  <img class="tile-image" alt="" src="/static/packages/flat/images/illustrations/clipboard.png">
                                  <h3 class="tile-title">Archive</h3>
                                  <p>Store your assets securely with Amazon.</p>
                              </div>
                          </div>

                          <div class="span3">
                              <div class="tile">
                                  <img class="tile-image" alt="" src="/static/packages/flat/images/illustrations/retina.png">
                                  <h3 class="tile-title">Improve</h3>
                                  <p>Get visitor feedback and analytics.</p>
                              </div>
                          </div>

                          <div class="span3">
                              <div class="tile">
                                  <img class="tile-image big-illustration" alt="" src="/static/packages/flat/images/illustrations/mail.png">
                                  <h3 class="tile-title">Reach</h3>
                                  <p>Identify and build your community.</p>
                              </div>
                          </div>

                      </div>
                      <div class="container">
                          <h1>Be the first to know when sideguide is ready<br><small>(don't worry, we hate spam too)</small></h1>
                          <!-- <form action="http://sideguide.us5.list-manage.com/subscribe/post?u=cc3f1c3b548018e9abb08aef0&amp;id=ff19a6ec81" method="post" class="form-inline" target="_blank" novalidate>
                              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                              <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large  btn-success">
                          </form>// MAILCHIMP SUBSCRIBE CODE \\ -->
                          <a href="http://eepurl.com/w_ern" class="btn btn-large btn-success">Subscribe to our Newsletter</a>

                      </div>
                 </div>
           </div>
        <div id="fund" class="featurette">
            <hr class="featurette-divider">
            <h2 class="featurette-heading">
                Fund us,
                <span class="muted">ready for more</span>
            </h2>


            <div class="hover-wrapper">
                <div id="people" class="hover-triggers span5">
                    <div class="item tile">
                        <a data-item="#karissa" href="http://rissarae.net" target="_blank"><img src="/static/img/people/karissa-small.png" /></a>
                        <h3>Karissa</h3>
                    </div>
                    <div class="item tile">
                        <a data-item="#serge" href="http://www.linkedin.com/pub/serge-chernetsky/1b/969/8a2" target="_blank">
                            <img src="/static/img/people/serge-small.png" /></a>
                        <h3>Serge</h3>
                    </div>
                    <div class="item tile">
                        <a data-item="#mengyao" href="http://www.mengyaozhao.com/" target="_blank"><img src="/static/img/people/mengyao-small.png" /></a>
                        <h3>Mengyao</h3>
                    </div>
                    <div class="item tile">
                        <a data-item="#anhe" href="http://anheguo.com" target="_blank"><img src="/static/img/people/anhe-small.png" /></a>
                        <h3>Anhe</h3>
                    </div>
                    <div class="item tile">
                        <a data-item="#ashleigh" href="http://www.ashnero.com/" target="_blank"><img src="/static/img/people/ash-small.png" /></a>
                        <h3>Ashleigh</h3>
                    </div>

                </div>
            </div>

            <div class="hover-content span4">
                <div id="background" class="details active">
                    <h1>The Team<br></h1>
                    <hr class="featurette-divider">

                    <p> <b>We are </b> young developers, designers, researchers, and entrepeneurs.
                        Our goal is to <b>replace paper maps and navigation signs</b> and <b>improve traffic flow</b>, by creating a well-built and easy-to-use app
                    with <b>seamless design</b> and <b>smart AI</b>.</p>

                    <p>
                        <b>Future goals </b> include creating a web portal for visitors to experience <b>virtual tours</b> of destinations, providing
                        <b>open APIs</b> for developers to incorporate <b>open collections</b> into applications, and building <b>game modes</b> and <b>achievements</b>
                        that make trips <b>educational and fun</b> for children... and adults.
                    </p>
                    <hr class="featurette-divider">
                    <p>
                        Currently looking for <b>venture capital</b> to quit our day jobs and <b>make this happen</b>.
                        Give us a shot by scheduling a meeting at<b><br><a href="mailto:hello@getsideguide.com">hello-at-getsideguide-dot-com</a></b>
                    </p>
                </div>
                <div id="karissa" class="details">
                    <h1>Karissa McKelvey <br><small>CEO, Principal Web Developer</small></h1>

                    <p> Karissa is a web developer, computational social scientist, data visualization expert, and
                         experienced team player. Her patience and leadership skills build the much-needed bridge between design and
                        development teams. She enjoys spending her time bringing ideas to life in whiteboard-lined rooms.</p>
                    <img src="/static/img/people/karissa.jpg" />
                </div>
                <div id="serge" class="details">
                    <h1>Serge Chernetsky <br><small>Principal Software Developer</small></h1>
                    <p> Serge has a passion for mobile development, algorithms, and software design.
                        His wide array of skills acquired over various jobs and
                        internships translates into technical know-how required to bring projects to fruition. </p>
                    <img src="/static/img/people/serge.png" />

                </div>
                <div id="mengyao" class="details">
                    <h1>Mengyao Zhao <br><small>User Experience Designer</small></h1>
                    <p>Mengyao is a graduate student in Human-Computer Interaction Design.
                        She is a Chinese Zeither player, a photographer, a flower lover, a UX designer and a design researcher.
                        She is interested in Aesthetic Experience, Heritage Study and HCI Design Methods. She gains
                        inspiration from music, art, and life.</p>
                    <img src="/static/img/people/mengyao.jpg" />
                </div>
                <div id="anhe" class="details">
                    <h1>Anhe Guo <br><small>User Experience Designer</small></h1>
                    <p>Anhe is a graduate student in Human-Computer Interaction
                    Design. Her inspiration comes from the positive influence that
                   design and technology bring to the world on a personal,
                    social or political level. She focuses this passion on designing and
                   imagining a better world. </p>
                    <img src="/static/img/people/Anhe.JPG" />
                </div>

                <div id="hayley" class="details">
                    <h1>Hayley Plageman <br><small>Principal Graphic and Web Designer </small></h1>
                    <p>Hayley is a graphic designer and interactive web developer.</p>
                </div>

                <div id="ashleigh" class="details">
                    <h1>Ashleigh Nero <br><small>Animation and Graphic Designer</small></h1>
                    <p>After finishing a degree in composition from the Jacobs School of
                        Music of Indiana University, Ashleigh found her interests shifting
                        toward web, interactive design and animation. She has continued her
                        education with courses in digital media production and hundreds of
                        hours of self-teaching and practice. She strives to create media that
                        are well-designed, artistic and delightful.</p>
                    <img src="/static/img/people/Ash.JPG" />

                </div>
            </div>
       </div>
    </div>
  </div>
  {% include "browse/footer.html" %}

  </body>
</html>
