#mainCarousel .item img{
    height: 360px;
    width: 640px;
}

.splashbox {
    height: 360px;
    width: 640px;
    margin: auto;
    z-index: 1;
    position: relative;
}

.splashbox:hover {
    cursor: pointer;

}

.hidden {
    display: none;
}

.splashplay { 
    position: absolute; 
    z-index: 3; 
    top: 70px;
    left: 220px;
} 

.transparent {
    filter: alpha(opacity=100);
    opacity: 1;
}

.navicon {
    height: 50px;
}

.footer {
    margin: auto;
    width: 50%;
    text-align: center;
}
