<!DOCTYPE html>
<html>
  <head>
      <meta content="Sideguide - Rediscover your world" property="og:title">
      <meta content="Sideguide helps people, organizations, and destinations tell the world's story. Discover and rediscover your world!" property="og:description">
      <meta content="" property="og:image">
      <meta content="http://www.mysideguide.com/" property="og:url">
      <meta content="website" property="og:type">
      <meta content="Sideguide" property="og:site_name">
      <meta content="" property="fb:app_id">
      <meta content="summary" name="twitter:card">
      <meta content="@Sideguide" name="twitter:site">
      <meta content="http://www.mysideguide.com/" name="twitter:url">
      <meta content="Sideguide - Rediscover your world" name="twitter:title">
      <meta content="Sideguide helps you tell the world's story. Discover and rediscover our world!" property="twitter:description">
      <meta content="" name="twitter:image">
      <meta content="" name="google-site-verification">
      <meta content="" name="google-site-verification">
      <meta content="" name="norton-safeweb-site-verification">
      <meta content="" name="msapplication-TileImage">
      <meta content="#ffffff" name="msapplication-TileColor">
      <title>Sideguide:{% block title %} Rediscover your world {% endblock %}</title>
      <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="/static/css/main.css" rel="stylesheet" media="screen">
      <script src="/static/js/jquery-1.8.3.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
  </head>
  <body>
     <div id="wrap" class="container">
        <div class="navbar">
                <ul class="nav">
                    <li><a href="/">sideguide</a></li>
                    <form class="form-search navbar-form pull-left">
                        <input type="text" class="search-query" placeholder="Search">
                        <button type="submit" class="btn"> <i class="icon-search"></i></button>
                    </form>
                    <li><a href="/browse">Explore</a></li>
                    <li><a href="/curate">Curate</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% if user.is_autenticated %}
                    <li><a href="/favorites">Favorites</a></li>
                    <li><a href="/accounts/profile">Account</a></li>
                    <li><a href="/accounts/logout">Signout</a></li>
                    {% else %}
                     <li><a href="/accounts/register/">Register</a></li>
                     <li><a href="/accounts/login">Login</a></li>
                    {% endif %}
                </ul>
        </div>
        <div id="main" class="container-fluid">
            {% block content %}{% endblock %}
        </div>
     </div>
     {% include "browse/footer.html" %}
  </body>
</html>
