<!DOCTYPE html>
<html>
  <head>
      <meta content="Sideguide - Tell the world's story" property="og:title">
      <meta content="Sideguide helps people, organizations, and destinations tell the world's story. Discover and rediscover your world!" property="og:description">
      <meta content="" property="og:image">
      <meta content="http://www.mysideguide.com/" property="og:url">
      <meta content="website" property="og:type">
      <meta content="Sideguide" property="og:site_name">
      <meta content="" property="fb:app_id">
      <meta content="summary" name="twitter:card">
      <meta content="@Sideguide" name="twitter:site">
      <meta content="http://www.mysideguide.com/" name="twitter:url">
      <meta content="Sideguide - Rediscover your world" name="twitter:title">
      <meta content="Sideguide helps you tell the world's story. Discover and rediscover our world!" property="twitter:description">
      <meta content="" name="twitter:image">
      <meta content="" name="google-site-verification">
      <meta content="" name="google-site-verification">
      <meta content="" name="norton-safeweb-site-verification">
      <meta content="" name="msapplication-TileImage">
      <meta content="#ffffff" name="msapplication-TileColor">
      <title>Sideguide:{% block title %} Interactive, personalized tour guide.  {% endblock %}</title>
      <link href="/static/packages/flat/css/bootstrap.css" rel="stylesheet" media="screen">
      <link href="/static/css/sideguide.css" rel="stylesheet">
      <link href="/static/css/main.css" rel="stylesheet" media="screen">

      <script src="/static/js/jquery-1.8.3.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/map.js"></script>

      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
      <script src="/static/js/angular/angular-google-maps.js"></script>
      <script src="/static/js/angular/app.js"></script>
      <script src="/static/js/angular/controllers.js"></script>
      {% block head %} {% endblock %}
  </head>
  <body ng-app="Sideguide">
     <div id="wrap" class="container">
         <div class="navbar navbar-inverse ">
             <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/">sideguide</a></li>
                    <form class="form-search navbar-form pull-left">
                        <input type="text" class="search-query" placeholder="Search">
                        <button type="submit" class="nav-btn btn btn-success"> Go</button>
                    </form>
                    <li><a href="/explore">Explore</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                    <li><a href="/curate">Curate</a></li>
                    <li><a href="/accounts/profile">Account</a></li>
                    <li><a href="/accounts/logout">Signout</a></li>
                    {% else %}
                    <li><a href="/accounts/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="main" class="container-fluid">
            {% block content %}{% endblock %}
        </div>
     </div>
     {% include "browse/footer.html" %}
  </body>
</html>
