{% extends "browse/base.html" %}

{% block content %}
 <div ng-controller="CurateCtrl">
    <h1>Curate</h1>
 <form class="form-horizontal" action="/curate/item">
  <div class="control-group">
    <label class="control-label" for="inputOwner">Owner</label>
    <div class="controls">
        <select id="inputOwner">
            <option value="{{user.id}}">{{user.username}}</option>
        </select>

    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDescription">Description</label>
    <div class="controls">
      <textarea type="text" id="inputDescription" class="span5" placeholder="Description">
        </textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Create</button>
    </div>
  </div>
</form>

 </div>
{% endblock %}