
<div id="footer">
    <p class="credit">
        Copyright Sideguide LLC, 2013. All rights reserved.

    <div class="container">
            <div class="footer-column">
                Work here!
            </div>
            <div class="footer-column">
                <a href="https://www.facebook.com/Sideguide">Facebook</a><br>
                <a href="http://eepurl.com/xbte5">Subscribe to E-mail</a><br>
                <a href="mailto:hello@sideguide.co">Contact us</a>
            </div>
            <div class="footer-column">
                Privacy Policy<br>
                Terms of Service
            </div>
        </div>
    </p>
</div>