
<div id="footer">
    <p class="credit">
        Copyright Sideguide LLC, 2013. All rights reserved.

    <div class="container">
            <div class="footer-column">
                Work on sideguide!
            </div>
            <div class="footer-column">
                <a href="https://www.twitter.com/mysideguide">Twitter</a><br>
                <a href="https://www.facebook.com/Sideguide">Facebook</a><br>
                <a href="http://eepurl.com/xbte5">Get Email Updates</a><br>
            </div>
            <div class="footer-column">
                <a href="/policies/privacy">Privacy Policy</a><br>
                <a href="/policies/services">Terms of Service</a><br>
                <a href="mailto:hello@sideguide.co">Contact us</a>
            </div>
        </div>
    </p>
</div>