{% extends "base.html" %}
{% load url from future %}

{% block title %}OpenArt: Login{% endblock %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="form-horizontal" method="post" action="/accounts/login/">
{% csrf_token %}
<div id="loginbox" class="row-fluid">
<div class="span6 offset1">
<legend>Welcome to OpenArt</legend>
<div class="control-group">
	<label class="control-label" for="id_username">Username</label>
	<div class="controls">
		<input id="id_username" name="username" maxlength="30" type="text">
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="id_password">Password</label>
	<div class="controls">
		<input id="id_password" name="password" type="password">
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<label class="checkbox">
			<input type="checkbox">Remember me
		</label>
		<button type="submit" class="btn">Login</button>
	</div>
</div>
<p>Not a member? <b><a href="/accounts/register/">Sign up</a></b>.
</p>
</div>
</div>
</form>
{% endblock %}