{% extends "base.html" %}
{% block content %}
<form action="/accounts/password/change/" method="post">
{% csrf_token %}
{{ form.non_field_errors }}
<div class="fieldWrapper">
    <label for="old_password">Old Password</label>
    {{ form.old_password }}
    {{ form.old_password.errors }}
 </div>
 <div class="fieldWrapper">
    <label for="new_password1">New Password</label>
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}
 </div>
 <div class="fieldWrapper">
    <label for="new_password2">Password confirmation</label>
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}
 </div>
<input type="submit" value="Submit" />
</form>
{% endblock %}