{% extends "browse/base.html" %}
{% block content %}
<div class="span8 offset2">
    <form class="form-horizontal" method="post"  action="/accounts/login/">
        {% csrf_token %}
        <legend>Login</legend>
        {{ form.non_field_errors }}
        <div class="control-group">
            <label class="control-label" for="id_username">Username</label>
            <div class="controls">
                <input id="id_username" class="input" name="username" maxlength="30" type="text" placeholder="Username">
            </div>
        </div>
        {{ form.username.errors }}
        <div id="alert_box"></div>
        <div class="control-group">
            <label class="control-label" for="id_password">Password</label>
            <div class="controls">
                <input id="id_password" class="input" name="password" type="password" placeholder="Password">
            </div>
        </div>
        {{ form.password.errors }}

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button id="submit_btn" type="submit" class="btn btn-primary">Sign in</button>
                <p><br>Not a member? <b><a href="/accounts/register/">Sign up</a></b>.</p>
            </div>
        </div>
    </form>
</div>
{% endblock %}