{% extends "browse/base.html" %}
{% block content %}
    <h1>Create an organization</h1>
    <form class="form-horizontal" action="/common/orgs/create" method="post">
        {{ form.non_field_errors }}
        <div class="control-group">
            <label class="control-label" for="id_name">Name</label>
            <div class="controls">
                <input id="id_name" name="name" type="text">
                {{ form.name.errors }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}