{% extends "browse/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span6 offset1">
<legend>Password Reset</legend>
<form class="form-horizontal" action="/accounts/password/reset/" method="post">
{% csrf_token %}

<div class="control-group">
	<label class="control-label" for="id_email">Email</label>
	<div class="controls">
		<input id="id_email" name="email" type="text" maxlength="75">
		<span id="helper" class="help-block">Enter the e-mail associated with your account.</span>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<button type="submit" class="btn">Submit</button>
	</div>
</div>
</form>
</div>
</div>
{% endblock %}