{% extends "browse/base.html" %}
{% block content %}
    <div class="page-header">
    <h1> Hello {{ user.username }}</h1>
    </div>
    <div class="container-fluid">
        <div class="span2 well">
            <ul class="nav nav-list">
                <li ><a href="#account"  data-toggle="tab">Account</a></li>
                <li ><a href="#organization"  data-toggle="tab">Organizations</a></li>
            </ul>
        </div>
        <div class="span8">
            <div class="tab-content">
                <div class="tab-pane active" id="account">
                    Username: {{ user.username  }}<br>
                    Name: {{ user.first_name }} {{ user.last_name }}<br>
                    Email: {{ user.email }}<br>
                    <a href="/accounts/password/change/">Change your password</a>
                </div>
                <div class="tab-pane" id="organization">
                 <div class="row">

                 </div>
                    <div class="row">
                        <ul ng-repeat="org in orgs">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}