<!DOCTYPE html>
<html>
  <head>
    <title>OpenArt</title>
    <!--JQTouch--> 
    <script src="/static/packages/jqtouch/src/lib/zepto.min.js" type="text/javascript"
        charset="utf-8"></script>
    <script src="/static/packages/jqtouch/src/jqtouch.min.js" type="text/javascript"
        charset="utf-8"></script>
    <style type="text/css" media="screen">@import
        "/static/packages/jqtouch/themes/css/jqtouch.css";</style>
    <style type="text/css" media="screen">@import
        "/static/css/main.css";</style>
    <!--soundmanager-->
    <style type="text/css" media="screen">@import
          "/static/packages/soundmanager/css/mp3-player-button.css";</style>
    <script src="/static/packages/soundmanager/script/soundmanager2.js"></script>
    <script type="text/javascript" src="/static/packages/soundmanager/script/mp3-player-button.js"></script>
    <script>
        soundManager.setup({
          url: '/static/packages/soundmanager/swf/',
          onready: function() {
                  // SM2 is ready to play audio!
            }
        });
     var jQT = new $.jQTouch({
                    icon: 'jqtouch.png',
                    icon4: 'jqtouch4.png',
                    addGlossToIcon: false,
                    startupScreen: 'jqt_startup.png',
                    statusBar: 'black-translucent',
                    themeSelectionSelector: '#jqt #themes ul',
                    preloadImages: []
                });
    </script>
  </head>
  <body>
    <div id="jqt" class="supports3d portrait">
        {% block content %}{% endblock %}
    </div>
        <div id="toolbox" class="hidden">
            <div id="audio" class="toolbox-item">
                <a href="/static/audio/asfd.mp3" class="sm2_button">this</a>
            </div>
            <div id="where-at" class="toolbox-item">
                <a href="#">ah</a>
            </div>
            <div id="love-it" class="toolbox-item">
                <a href="#">ah</a>
            </div>
        </div>
  </body>
</html>
