<div id="collection_map_{{coll.id}}">
    <script type="text/javascript">
        function toggle_map_selection(clickable) {
            $(clickable).live("click", function(e) {
                var item_id = $(this).data("itemid");
                
                if($("#thumb_" + item_id).hasClass("map_thumb_selected")) {
                    var loc = "\/m/ajax/{{user.username}}/{{coll.id}}/" + item_id;
                    //jQT.showPageByHref(loc);
                }

                //deselect previously selected items
                $(".map_thumb").each(function() {
                    $(this).removeClass("map_thumb_selected");
                });

                $(".marker").each(function() {
                    $(this).removeClass("marker_selected");
                });

                //select item
                $("#marker_" + item_id).addClass("marker_selected");
                $("#thumb_" + item_id).addClass("map_thumb_selected");
            });
        }
        toggle_map_selection(".marker");
        toggle_map_selection(".map_thumb");
    </script>
    <div class="toolbar">
        <h1>{{coll.name}}</h1>
        <a href="/m/ajax/{{user.username}}"
            class="slideright leftButton button">{{user.username}}</a>
        <a href="/m/ajax/{{user.username}}/{{coll.id}}?view=list" 
            class="button flipleft"
            id="mapButton"><img src="/static/img/icons/list.png"
            height="30px"></img></a>
    </div>
    <div>
    <div style="background: black url('/static/img/map.jpg')
                    no-repeat top;"
                class="map">
        {% for item in items %}
        <img src="/static/img/icons/location.png"
             id="marker_{{item.id}}"
             data-itemid="{{item.id}}"
             class="marker" 
             style="bottom:{{item.y}}%; left:{{item.x}}%;"/>
        {% endfor %}
    </div>
    <div>
        {% for item in items %}
            <img src="/static/img/{{item.image}}" 
                 id="thumb_{{item.id}}"
                 data-itemid="{{item.id}}"
                 class="map_thumb"/>
        {% endfor %}
    </div>
</div>
