<div id="collection">
    <div class="toolbar">
        <h1>{{coll.name}}</h1>
        <a href="#" class="back">Back</a>
        <a href="/m/ajax/{{user.username}}/{{coll.id}}?view=map" 
            class="button flipright"
            id="mapButton"><img src="/static/img/icons/location.png"
            height="30px"></img></a>
    </div>
    <div>
        <ul class="edgetoedge scroll">
            {% for item in items %}
            <li>
            <a href="/m/ajax/{{user.username}}/{{coll.id}}/{{item.id}}">
                <img src="/static/img/{{item.image}}" 
                     class="mobile-scroll-image"></a>
             </li>
            {% endfor %}
        </ul>
    </div>
</div>
