{% extends "mobile/base.html" %}
{% block content %}
<div id="home">
  {% include "mobile/toolbar.html" %}
  <div> 
    <ul class="rounded">
      <li><input type="text" name="username" value="" placeholder="Username" /></li>
      <li><input type="password" name="password" value="" placeholder="Password" /></li>
    </ul>
    <a style="margin:0 10px;color:rgba(0,0,0,.9)" href="#" class="submit whiteButton">Submit</a>
  </div>
  {% include "mobile/footer.html" %}
</div>
{% include "mobile/menu.html" %}

{% endblock %}
