<div id="item_{{item.id}}">
    <script type="text/javascript">
        $(function() {
            $("#toolbox").removeClass("hidden");
            $("#audio .sm2_button").attr("href","/static/audio/item_demo.mp3");
        });
    </script>
    <div class="toolbar">
        <h1>{{item.name}}</h1>
        <a href="#" class="back">Back</a>
        <a href="/m/ajax/{{user.username}}/{{coll.id}}?view=map"
           class="button flipright"><img src="/static/img/icons/location.png"
           class="icon"/></a>
    </div>
    <div class="item-image">
        <img src="/static/img/{{item.image}}"
             class="mobile-scroll-image"></img>
    </div>
    <div class="item-text">
        <h3>{{item.name}}</h3>
        <div class="caption">
            {{item.caption}}
        </div>
        <hr>
        <div class="description">
            {{item.description}}
        </div>
    </div>
</div>
