<div id="user">
    <div class="toolbar">
        <h1>{{user.username}}</h1>
        <a href="#" class="button"><img src="/static/img/icons/search.png"
            class="icon"/></a>
    </div>
    <div>
        <ul class="edgetoedge scroll">
            {% for c in colls %}
            <li>
            <a href="/m/ajax/{{user.username}}/{{c.id}}">
            <div>
                <div style="background: black url('/static/img/{{c.image}}')
                    no-repeat top;"
                class="mobile-scroll-image"/>
                    <div class="coll-name">
                        <h2>{{c.name}}</h2>
                    </div>
                </div>
            </div>
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
