<div id="user">
    <div class="toolbar">
        <h1>{{user.username}}</h1>
        <a href="#" class="back">Back</a>
    </div>
    <div>
        <ul class="edgetoedge scroll">
            {% for c in colls %}
            <li>
            <a href="/m/ajax/{{user.username}}/{{c.id}}">
                <img src="/static/img/{{c.image}}"
                class="mobile-scroll-image"/>
            <div class="coll-name">
                <h2>{{c.name}}<h2>
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
