@import "utils.css";
.navicon {
    width:50px;
}
html, body, #wrap { height: 100%; }

body > #wrap {height: auto; min-height: 100%;}

#main { padding-bottom: 150px; }  /* must be same height as the footer */

#footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    background-color: #e16e2f;
    width:100%;
    color: #ccc;
}

#footer a {
    color: #ccc;
}

.credit {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding: 20px 0px;
}

.footer-column {
    text-align: center;
    width:32%;
    position:relative;
    float:left;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

google-map {
    width:100%;
    height:900px;
    position:relative;
    display:block;
}

.marketing .span2 {
    height: 100px;

}