@import "utils.css";

/*splash */
#mainCarousel .item img{
    height: 360px;
    width: 640px;
}

.splashbox {
    height: 360px;
    width: 640px;
    margin: auto;
    z-index: 1;
    position: relative;
}

.splashbox:hover {
    cursor: pointer;

}

.hidden {
    display: none;
}

.splashplay {
    position: absolute;
    z-index: 3;
    top: 70px;
    left: 220px;
}


.navicon {
    height: 50px;
}

.footer {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
body {
    /*background-color: #2566AF;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main {
    background-color: #FFFFFF;
    min-height: 100%;
    height: auto !important;
    /* Negative indent footer by it's height */
    margin: 0 auto -120px;
}
