
.section {
    padding-top:100px;
}

/* Main marketing message and sign up button */
.header {
    text-align: center;
    padding-top:120px;
    padding-bottom:40px;
    float:left;
    position:relative;
    width: 50%;
}
.header h1 {
    font-size: 100px;
    line-height: 1;
    padding: 10px;
}
.header .lead {
    font-size: 24px;
    line-height: 1.25;
}
.header .btn {
    font-size: 16px;
    padding: 9px 15px;
    margin-left: 5px;
}
.column {
    width:49%;
}

/* people*/
.item {
    margin: 10px;
    float: left;
    background-color: #34495e;
    padding: 10px 10px 0px 10px;
    color: #ecf0f5;
}

.item > a > img {
    height: 126px;
    width:102px;
}

.details > img {
    max-height: 300px;
}

.hover-content .active {
    visibility: visible;
    opacity: 1 !important;
}
.hover-content {
    position:relative;
    height:600px;
}

.hover-content div {
    visibility: hidden;
}

.details {
    width:500px;
    height:600px;
    position:absolute;
}


/* MARKETING CONTENT
-------------------------------------------------- */

.marketing {
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing  p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 1.5;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 20px 0px 20px 0px; /* Space out the Bootstrap <hr> more */
    padding-bottom: 5px;
    background-color: #34495e;
}
.featurette-text {
    position:relative;
    margin:auto;
}
.featurette {
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
    text-align: center;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    padding:40px 0px 40px 0px;
}

.splash-nav {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
}

.downarrow {
    margin:auto;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 75px solid #2b8949;
}
.downarrow:hover {
    cursor:pointer;
    border-left: 77px solid transparent;
    border-right: 77px solid transparent;
    border-top: 77px solid #06b33c;
}

#splashfront {
    width:100%;
    position:relative;
    padding-top:80px;
}

#splashbottom {
    width:100%;
}
.splashbox {
    height: 360px;
    width: 640px;
    z-index: 1;
    margin: auto;
    position: relative;
}

.splashbox:hover {
    cursor: pointer;
}

.splashbar.left {
    margin-top:100px;
    height:100px;
    width:50%;
    float:left;
}
.splashbar {
    margin-top:100px;
    height:100px;
    width:100%;
    float:left;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }
    .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
    }



    .featurette {
        height: auto;
        padding: 0;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
    }
}


@media (max-width: 767px) {

    .navbar-inner {
        margin: -20px;
    }

    .carousel {
        margin-left: -20px;
        margin-right: -20px;
    }

    .marketing .span4 + .span4 {
        margin-top: 40px;
    }

    .featurette-heading {
        font-size: 30px;
    }
    .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
    }

}

/* slideshow */
#iphone-container {
    width:440px;
    height:760px;
    background-image: url(/static/img/wireframe-iphone-header.png);
    background-size:440px 760px;
    background-repeat:no-repeat;
    float:right;
    postition:relative;
    padding-bottom:50px;
}
#slides-container {
    width:320px;
    height:480px;
    padding:10px;
    padding-left: 62px;
    padding-top: 130px;
    float:left;

}
#slides {
    display: none;

}
#slides .slidesjs-navigation {
    margin-top:5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
    background-image: url(/static/packages/slidesjs-3/examples/playing/img/btns-next-prev.png);
    background-repeat: no-repeat;
    display:block;
    width:12px;
    height:18px;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    margin-right:5px;
}

a.slidesjs-next {
    margin-right:10px;
    background-position: -12px 0;
}

a:hover.slidesjs-next {
    background-position: -12px -18px;
}

a.slidesjs-previous {
    background-position: 0 0;
}

a:hover.slidesjs-previous {
    background-position: 0 -18px;
}

a.slidesjs-play {
    width:15px;
    background-position: -25px 0;
}

a:hover.slidesjs-play {
    background-position: -25px -18px;
}

a.slidesjs-stop {
    width:18px;
    background-position: -41px 0;
}

a:hover.slidesjs-stop {
    background-position: -41px -18px;
}

.slidesjs-pagination {
    margin: 7px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 12px;
    height: 0;
    padding-top: 13px;
    background-image: url(/static/packages/slidesjs-3/examples/playing/img/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
    color: #34495e;
}

#slides a:hover,
#slides a:active {
    color: #06b33c;
}

